@{
    Layout = null;
}
<div class="row">
    <div class="col-lg-2 col-lg-offset-10">
        <button  data-id="0" class="btn btn-success Edit">Add New Video</button>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="container">

    <table id="videoTable" class="display table table-striped table-bordered table-hover table-responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Director</th>
                <th>Genre</th>
                <th>Brief</th>
                <th>Year</th>
                <th>Thumb</th>
                <th>Additional Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<script src="~/Scripts/adminVideoTable.js"></script>
