@{
    Layout = null;
}
<div class="row">
    <p id="browserFilter"></p>
</div>
<div class="container">

    <table id="videoTable" class="display table table-striped table-bordered table-hover table-responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
                
                <th>Name</th>
                <th>Director</th>
                <th>Genre</th>
                <th>Year</th>
                <th>Thumb</th>
                <th>Additional Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                
                <th>Name</th>
                <th>Director</th>
                <th>Genre</th>
                <th>Year</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<script src="~/Scripts/userVideoTable.js"></script>
